body {
    margin: 10;
    padding: 5px; 
    background-color: #f4f4f4; 
  }
#titleDiv {
    text-align: center;
    padding: 20px;
    background-color: #2c2c2c; 
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
  }    

#widgetsContainer {
display: flex;
flex-shrink:1;
justify-content: space-between;
gap: 5px;
margin-bottom: 5px;
width: 100%; 
}

.widget {
background-color: #2c2c2c;
flex:1;
color: white;
padding: 5px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
max-height: 100%;
}
.collisions-count-widget {
text-align: center;
background-color: #2c2c2c;
color: white;
padding: 5px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.collisions-count-number {
font-size: 64px; 
font-weight: bold;
color: #ff6347; 
margin: 0;
}

.collisions-count-label {
font-size: 24px;
color: #ffffff; 
}

#viewDiv {
height: 175vh;
width: 100%; 
padding: 5px;
box-sizing: border-box;
background-color: #eaeaea;

}

#mainContainer {
    display: flex;
    flex-direction: column;
    height: 130vh;
    width: 100%;
}
  #layerControls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px; 
    background-color: #2c2c2c; 
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
  }
  #layerControls label {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }
  #layerControls input[type="checkbox"] {
    margin-right: 5px;
  }
  h3 {
    color: white;
    font-family: Arial, sans-serif;
  }
#yearSliderContainer {
background-color: #2c2c2c; 
color: white; 
padding: 5px; 
border-radius: 8px; 
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
text-align: center;
margin-bottom: 10px;
}


#yearSlider {
width: 80%;
padding: 5px;
margin-top: 10px;
background-color: #ffffff; 
}

#yearSlider::-webkit-slider-thumb {
appearance: none;
width: 15px;
height: 15px;
border-radius: 50%;
background-color: #ff6347; 
cursor: pointer;
}

#yearSlider::-moz-range-thumb {
width: 15px;
height: 15px;
border-radius: 50%;
background-color: #ff6347;
cursor: pointer;
}


#selectedYear {
font-weight: bold;
color: #ff6347; 
}